In [112]:
import pandas as pd

In [113]:
df = pd.read_excel('Book1.xlsx')

In [114]:
df.head()

       STUDENT NAME MARKS   %
0  AARNAVI TRIPATHI    40  80
1   ABHIMANYU BISHT    48  96
2      AISHA PANDEY    ab  ab
3    ANGEL SHARMA    12.5  25
4    ANIK CHAUDHARY    17  34

In [115]:
bins = [0, 33, 40, 50, 60, 70, 80, 90, 100]
labels = ["Below 33", "33-40", "41-50", "51-60", "61-70", "71-80", "81-90", "91-100"]

In [116]:
df = df[df[cols] != 'ab']
df = df[df[cols] != 'Ab']
df = df[df[cols] != 'AB']

In [117]:
cols = 'MARKS'
max = 50

df[cols] = df[cols] * 100 / max
df[cols] = df[cols].astype(int)
df['Ranges'] = pd.cut(df[cols], bins=bins, labels=labels)

In [118]:
df.groupby('Ranges').count()[cols]

Ranges
Below 33     2
33-40        5
41-50        4
51-60        4
61-70        2
71-80       11
81-90        2
91-100      10
Name: MARKS, dtype: int64